<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2019 Alan Vuong (WEB422). Design by <a href="http://www.templategarden.com"
          rel="nofollow">TemplateGarden</a></div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="https://www.facebook.com/" target="_blank"></a>
          <a class="fa fa-twitter social-icon" href="https://twitter.com/alti_v?lang=en" target="_blank"></a> <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/in/alan-vuong-08579860/" target="_blank"></a> <a
            class="fa fa-google-plus social-icon" href="https://plus.google.com/discover" target="_blank"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->